* {
  margin: 0;
  padding: 0;
}

:root {
  --clr_primary: #8BCD2D;
  /* --clr_accent: #4c4c4c; */
  --clr_accent: #373D3F;
  --clr_dark: black;
  --clr_light: white;
  --clr_shade: #F3F3F3;

  --ff_title: 'Raleway', sans-serif;
  --ff_serif: 'Open Sans', sans-serif;
  /* --ff_title: 'Lato', sans-serif; */
  /* --ff_title: 'Julius Sans One', sans-serif; */
  /* --ff_title: 'Oswald', sans-serif; */
  
  --font_n: 1rem;
  --font_s: 0.82rem;
  --font_m: 1.3rem;
  --font_l: 2.4rem;

}

/* => Standardized All Typograghy and Font size*/
html{
  /* box-sizing: ; */
  font-family: var(--ff_serif);
  color: var(--clr_accent);
  font-size: var(--font_n);
  /* font-weight: ; */
}

/* => Standardized All Typograghy and Font size*/
h1 {
  font-family: var(--ff_title);
  font-size: var(--font_l);
  line-height: var(--font_l);
}
h2 {
  font-size: var(--font_m);
}
h3 {
  /* font-family: var(--ff_title); */
  font-size: var(--font_m);
}
p {
  font-size: var(--font_n);
}






/* ==========================
   START OF MOBILE MODE 
   ========================== */

/* MOBILE SECTION: NAVBAR */
nav {
  min-height: var(--font_n);
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  }
nav #logo {
  background-color: var(--clr_shade);
  height: 100px;
  width: 220px;
  background-image: url("IMG/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0% 0 0 6%;
  display: none;
}
nav ul {
  display: flex;
  flex-direction: column;
  font-size: calc(var(--font_m) * 1.7);
  width: 100%;
  display: none;
}
nav ul li {
  background: var(--clr_shade);
  list-style: none;
  }
nav ul li a {
  color: var(--clr_accent);
  text-shadow:
		/* -1px -1px 0 rgba(255,255,255,0.5), */
		1px -1px 0 rgba(255,255,255,0.5);
		/* -1px 1px 0 rgba(255,255,255,0.5), */
		/* 1px 1px 0 rgba(255,255,255,0.5); */
  /* text-shadow: 0px 0px 30px white,0px 0px 30px white,0px 0px 30px white,0px 0px 10px white,0px 0px 10px white; */
  display: block;
  white-space: nowrap;
  padding: 3% 6%;
  text-decoration: none;
  /* font-weight: 900; */
}
nav ul li a:hover {
  color: black;
  background: var(--clr_shade);
}
/* This is to give extra white space at the top when toggle menu */
nav ul li:first-child {
  padding: 20% 0 0 0;
}
/* This is to give extra white space at the bottom to cover entire screen when toggle menu */
nav ul li:last-child {
  padding: 0 0 100% 0;
}
.currentnav {
  cursor: default;
  border-left: 5px solid var(--clr_accent);
}
.currentnav:hover {
  color: inherit;
}
.menu_toggle {
  position: absolute;
  /* display: none; */
  padding: 6px 11px;
  background: var(--clr_light);
  /* background: pink; */
  color: var(--clr_accent);
  font-size: var(--font_m);
  top: 0;
  right: 0;
}


/* MOBILE SECTION: ALL ABOUT US */
.divider1_image_on_mobile {
  background-color: var(--clr_primary);
  /* height: 330px; */
  height: 35vh;
  background-image: url("IMG/about\ us.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  /* transform: rotate(-0.32deg); */
  /* Adjust image left/right */
  /* background-position-x: left; */
  /* Adjust image left/right/top/bottom */
  /* background-position-y: center; */
  position: relative;
}
#logo_greenbg {
  position: absolute;
  height: 42px;
  width: 100px;
  background-image: url("IMG/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.5% 0 0 6%;
}
.start {
  color: var(--clr_light);
}
.start_tag {
  padding: 25% 6% 0.5% 55%;
  font-size: var(--font_s);

}
.start h1 {
  padding: 0% 6% 3% 55%;
}




/* MOBILE SECTION: INTRO STORY */
.intro {
  width: 100%;
  height: auto;

  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
  
  background: var(--clr_shade);
}
.intro .intro_text {
  width: 100%;
}
.intro h1 {
  padding: 10% 6% 3% 6%;
}
.intro p {
  padding: 0% 6% 10% 6%;
}


/* MOBILE SECTION: WHAT MAKES US? */
.whatmakesus_container {
  width: 100%;
  height: auto;

  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
  
  background: var(--clr_light);
}
.whatmakesus_box {
  /* width: 100%; */
}
.whatmakesus_box h1 {
  padding: 10% 6% 3% 6%;
}
.whatmakesus_box p {
  padding: 0% 6% 0% 6%;
}


/* MOBILE SECTION: 3 LOGOS (ISCC,NDGAA, DFA) */
.logo_all {
  background: var(--clr_light);
  display: grid;
  /* Can change 1 to auto-fit and it will be responsive
  18rem is the biggest it can go before the screen can't fit for small mobile devices */
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr)); 
  grid-gap: var(--font_l) var(--font_s);
  padding: 12% 6% 10% 6%;
  /* cursor: pointer; */
}


.logo1 {
  background: var(--clr_light);    
  /* transition: transform 1s; */
}

.logo_image1 {
  width: 100%;
  min-height: 8rem;
  background: url("IMG/iscc\ logo.JPG");
  background-size: contain;
  /* background-size: 100%; */
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--clr_light);
  /* overflow: hidden; */
}
.logo_text1 {
  min-height: 2rem;
}
.logo1 h3 {
  padding: 17px 17px 0 17px;
  text-align: center;
}
.logo1 p {
  padding: 3px 17px 15px 17px;
  text-align: center;
}


.logo2 {
  background: var(--clr_light);
  /* transition: transform 1s; */
}
.logo_image2 {
  width: 100%;
  min-height: 8rem;
  background: url("IMG/ndgaa\ logo.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--clr_light);
  /* overflow: hidden; */
}
.logo_text2 {
  min-height: 2rem;
}
.logo_text2 h3 {
  padding: 17px 17px 0 17px;
  text-align: center;
}
.logo_text2 p {
  padding: 3px 17px 15px 17px;
  text-align: center;
}


.logo3 {
  background: var(--clr_light);
  /* transition: transform 1s; */
}
.logo_image3 {
  width: 100%;
  min-height: 8rem;
  background: url("IMG/dfa\ logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--clr_light);
  /* overflow: hidden; */
}
.logo_text3 {
  min-height: 2rem;
}
.logo_text3 h3 {
  padding: 17px 17px 0 17px;
  text-align: center;
}
.logo_text3 p {
  padding: 3px 17px 15px 17px;
  text-align: center;
}



/* MOBILE SECTION: MILESTONES */
.milestone_title {
  padding: 12% 6% 6% 6%;
  background: var(--clr_dark);
  color: var(--clr_light);
}

.milestone_all {
  background: var(--clr_dark);
  color: var(--clr_light);
  display: grid;
  /* Can change 1 to auto-fit and it will be responsive
  18rem is the biggest it can go before the screen can't fit for small mobile devices */
  grid-template-columns: repeat(auto-fit, minmax(8.5rem, 2fr)); 
  grid-gap: var(--font_m) var(--font_s);
  padding: 0% 3% 12% 6%;
}

.wreath_left {
  background-image: url("IMG/laurel\ wreath\ left.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 60px;
  display: inline-block;
  width: 15%;
}
.middle {
  display: inline-block;
  width: 57%;
  vertical-align: top; 
}
.milestone p {
  text-align: center;
  font-size: calc(var(--font_n) * 0.8);
}
.milestone h2 {
  text-align: center;
  font-size: calc(var(--font_n) * 1.0);
}
.wreath_right {
  background-image: url("IMG/laurel\ wreath\ right.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 60px;
  display: inline-block;
  width: 15%;
}









/* MOBILE SECTION: YOUR EXPERIENCE IS OUR PRIORITY */
.our_priority {
  /* width: 100%; */
  /* height: auto; */

  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
  
  background: var(--clr_shade);
}
.our_priority .our_priority_text {
  /* width: 100%; */
}
.our_priority h1 {
  padding: 10% 6% 3% 6%;
}
.our_priority p {
  padding: 0% 6% 10% 6%;
}
.divider2_image_on_mobile {
  background-color: var(--clr_primary);
  /* height: 330px; */
  height: 8rem;
  background-image: url("IMG/plants.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 120%; */
  /* transform: rotate(-0.32deg); */
  background-position: center top;
  /* Adjust image left/right */
  /* background-position-x: left; */
  /* Adjust image left/right/top/bottom */
  /* background-position-y: top; */
}



/* MOBILE SECTION: Footer  */
footer {
  width: 100%;
  height: auto;
  background: var(--clr_light);
  /* color: var(--clr_accent); */
  
  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
}
footer .info h1 {
  padding: 10% 6% 0 6%;
}
footer .info h1 a {
  color: var(--clr_accent);
  text-decoration: none;
}
footer .info h1 a:hover {
  color: var(--clr_primary);
}
.arrow {
  display: none;
}
footer .info p {
  /* Adjust only top and bottom. Left and right control in .recognition div */
  padding: 1.5% 6% 0% 6%;
  /* width: 88%; */
}
/* SPECIAL NOTE: For button gap adjustment (top/bottom/left/right), go to .btn3 -> Gap adjustment for button  */
footer .copyright {
  background: var(--clr_light);
  color: var(--clr_accent);
  display: flex;
  justify-content: space-between;
  /* NOTE: to adjust copyright text top and bottom gap here */
  padding: 1% 6% 0% 6%;
  align-items: center;
}
footer .copyright p {
  font-size: var(--font_s);
}
/* Button 5 style (for Footer only): White text and perimeter */
.btn5 {
  font-size: var(--font_n);
  padding: 0 15px;
  border-radius: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid var(--clr_accent);
  display: inline-block;
  text-decoration: none;
  color: var(--clr_accent);
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: .3s;

/* Gap adjustment (top,left/right only, but not bottomn because that one is adjust fr intro div -> padding: top/bottom) for button */
  margin: 2.2% 5% 10% 6%;

/* Below not required after i added padding to give equal left and right spacing regardless of text length */
  /* width: 110px;
  height: 25px; */
}
.btn5:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr_primary);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.btn5:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr_primary);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.btn5:hover {
  color: var(--clr_dark);
  border: 1px solid var(--clr_primary);
  z-index: 1;
}
.btn5:hover:before {
  top: 0;
}

.social .icon1 {
  font-size: calc(var(--font_n)*2);
  color: var(--clr_accent);
  /* NOTE: to adjust social icon top/bottom/left/right gap here */
  padding: 0 10px 7% 0;
}
.social .icon1:hover {
  color: var(--clr_primary);
}
.social .icon2 {
  font-size: calc(var(--font_n)*2);
  color: var(--clr_accent);
  /* NOTE: to adjust social icon top/bottom/left/right gap here */
  padding: 0 10px 7% 0;
}
.social .icon2:hover {
  color: var(--clr_primary);
}
.social .icon3 {
  font-size: calc(var(--font_n)*2);
  color: var(--clr_accent);
  padding:0 0 7% 0;
}
.social .icon3:hover {
  color: var(--clr_primary);
}




/* ===========================
   START OF TABLET (IPAD) MODE 
   =========================== */

@media only screen and (min-width: 768px) {

  /* TABLET SECTION: NAVBAR */
  nav {
    /* z-index: 99; */
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    min-height: var(--font_n);
    font-weight: bold;
    /* this backgroundcolor is not required as using JS to change the color when scrolling down */
    /* background: var(--clr_light); */
    /* backgrd color helps to differential what to adjust on */
    /* background: tomato; */
    /* opacity: 0.6; */
    /* background: rgba(0, 0, 0, 0.4); */
  
    /* position: fixed; */
    top: 0;
    /* width: 100%; */
    transition: top 0.7s;
    /* overflow: hidden; */
    /* padding: 0 6% 0 6%; */
    /* padding: 90px 10px; */
    /* height: 50px; */
  }
  nav #logo {
    background-color: transparent;
    /* height = 55px (3.4375rem) and width = 125px (7.8125rem) */
    height: 55px;
    width: 125px;
    margin: 0 0 0 6%;
    /* JSnavbarshrink: RMB TO TURN THIS TRANSITION ON IF USING THIS JAVASCRIPT  */
    /* transition: 0.4s; */
    display: block;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* width: 60%; */
    /* adjust the full height of the nav text BOX height */
    /* height: 55px; */
    /* adjust the left and right gap of nav bar  */
    margin: 0 4% 0 0;
    /* display: inline-flex; */
    font-size: var(--font_n);
    /* width: 0; */
  }
  nav ul li {
    background-color: transparent;
    padding: 0;
  }
  nav ul li a {
    /* text-decoration: none; */
    /* color: var(--clr_accent); */
    /* display: block; */
    /* adjust how big the gap of the text should fit in the box */
    padding: 17px 17px 17px 17px;
    /* font-size: var(--font_n); */
    /* white-spece: text will not jump to next line if no space for it */
    /* white-space: nowrap; */
    /* border-radius: 4px; */ 
    /* background: pink; */
  }
  nav ul li:first-child {
    padding: 0;
  }
  nav ul li:last-child {
    padding: 0;
  }
  .currentnav {
    border-left: none;
    text-decoration: overline;
  }
  .currentnav:hover {
    background: transparent;
  }
  .menu_toggle {
    display: none;
  }


  /* TABLET SECTION: ALL ABOUT US */
  #logo_greenbg {
    background-image: none;
  }
  .start_tag {
    padding: 20% 6% 0.5% 55%;
  }
  .start h1 {
    padding: 0% 6% 3% 55%;
  }


  /* TABLET SECTION: INTRO */
  .intro h1 {
    padding: 6% 6% 1% 6%;
  }
  .intro p {
    padding: 0% 6% 8% 6%;
  }


  /* TABLET SECTION: WHAT MAKES US */
  .whatmakesus_box h1 {
    padding: 6% 6% 1.5% 6%;
  }
  .whatmakesus_box p {
    padding: 0% 6% 0% 6%;
  }

  /* TABLET SECTION: 3 LOGOS (ISCC,NDGAA, DFA) */
  .logo_all {
    padding: 6% 6% 6% 6%;
  }

  /* Do this so as to align all the text in the same row and line */
  .logo1 p,
  .logo2 p,
  .logo3 p {
    font-size: calc(var(--font_n) * 0.90);
  }

  /* Do this so as to align all the text in the same row and line */
  .logo3 h3 {
    width: 80%;
  }  
  .logo3 p {
    width: 75%;
  }

  


  /* TABLET SECTION: MILESTONES */
  .milestone_title {
    padding: 8% 6% 6% 6%;
  }

  .milestone_all {
    /* Can change 1 to auto-fit and it will be responsive
    18rem is the biggest it can go before the screen can't fit for small mobile devices */
    grid-template-columns: repeat(auto-fit, minmax(12rem, 2fr));
    grid-gap: var(--font_m) var(--font_s);
    padding: 0% 4% 8% 6%;
  }
  
  .middle {
    width: 47%;
  }
  .milestone p {
    font-size: calc(var(--font_n) * 0.9);
  }
  .milestone h2 {
    font-size: calc(var(--font_n) * 1.15);
  }




  /* TABLET SECTION: YOUR EXPERIENCE IS OUR PRIORITY */
  .our_priority h1 {
    padding: 6% 6% 3% 6%;
  }
  .our_priority p {
    padding: 0% 6% 6% 6%;
  }





  /* TABLET SECTION: FOOTER */
  footer .info p {
    /* Adjust only top and bottom. Left and right control in .recognition div */
    padding: 1.5% 36% 0% 6%;
  }

}

/* =====================
   START OF DESKTOP MODE 
   ===================== */

@media only screen and (min-width: 1025px) {
  
  nav ul {
    margin: 0 4.7% 0 0;
  }
  nav ul li a {
    padding: 17px 20px 17px 20px;
  }


  /* MOBILE SECTION: ALL ABOUT US */
  .divider1_image_on_mobile {
    height: 55vh;
    background-size: 55%;
    background-color: var(--clr_dark);
    background-position-y: center;
  }

  /*DESKTOP SECTION: ALL ABOUT US */
  .start_tag {
    padding: 10% 6% 0.5% 45%;
    align-content: center;
  }
  .start h1 {
    padding: 0% 6% 3% 45%;
  }

  /* DESKTOP SECTION: INTRO */
  .intro h1 {
    padding: 5% 6% 1% 6%;
  }
  .intro p {
    padding: 0% 6% 6% 6%;
  }


  /* DESKTOP SECTION: WHAT MAKES US */
  .whatmakesus_box h1 {
    padding: 6% 6% 1% 6%;
  }  

  /* DESKTOP SECTION: 3 LOGOS (ISCC,NDGAA, DFA) */
  .logo_all {
    padding: 6% 6% 5% 6%;
  }


  /* DESKTOP SECTION: MILESTONES */
  .milestone_title {
    padding: 6% 6% 4% 6%;
  }

  .milestone_all {
    /* Can change 1 to auto-fit and it will be responsive
    18rem is the biggest it can go before the screen can't fit for small mobile devices */
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
    grid-gap: calc(var(--font_l) * 1.3) var(--font_s);
    padding: 0% 4% 6% 6%;
  }
  
  .wreath_left {
    height: 80px;
    width: 12%;
  }
  .middle {
    width: 59%;
  }
  .milestone p {
    font-size: calc(var(--font_n) * 1.1);
    white-space: nowrap;
  }
  .milestone br {
    display: none;
  }
  .milestone h2 {
    font-size: calc(var(--font_l) * 1);
  }
  .wreath_right {
    height: 80px;
    width: 15%;
  }



  /* DESKTOP SECTION: YOUR EXPERIENCE IS OUR PRIORITY */
  .our_priority h1 {
    padding: 6% 6% 1% 6%;
  }
  .our_priority p {
    padding: 0% 6% 4% 6%;
  }
  .divider2_image_on_mobile {
    height: 15rem;
  }


  /* DESKTOP SECTION: FOOTER */  
  footer .info h1  {
    padding: 5% 6% 0 6%;
  }
  footer .info p {
    padding: 0.5% 61% 0% 6%;
  }
  .btn5 {
  /* Gap adjustment (top,left/right only, but not bottomn because that one is adjust fr intro div -> padding: top/bottom) for button */
    margin: 1% 5% 5% 6%;

  }

}
